@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Welcome</h1>
    <p>building Web apps with ASP.NET Core.</p>
    <a asp-controller="Home" asp-action="About" class="btn btn-primary">to review</a>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">view</a>
</div>
